@model Tactsoft.Core.Entities.PostingJobs

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-wrapper">
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="m-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="Dashboard">Dashboard</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <section class="content">
        <div class="container-fluid">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between">
                            <h3 class="card-title">Employment Details</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <dl class="row">
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ServiceTypeId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ServiceTypeId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobTittle)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobTittle)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.NA)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.NA)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobCategoryeId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobCategoryeId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.FullTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.FullTime)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PartTime)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PartTime)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Contractual)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Contractual)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Internship)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Internship)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Freelance)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Freelance)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ApplicationDeadline)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ApplicationDeadline)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ResumeReceivingOptionId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ResumeReceivingOptionId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.EmailAddress)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.EmailAddress)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.HardCoppy)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.HardCoppy)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.WalkinInterview)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.WalkinInterview)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Infoemail)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Infoemail)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MamajobEmail)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MamajobEmail)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.SpecialInstructionforjobSeekers)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.SpecialInstructionforjobSeekers)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CompanyLogo)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CompanyLogo)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Entry)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Entry)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Mid)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Mid)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Top)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Top)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.KeySellingPoints)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.KeySellingPoints)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobContext)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobContext)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobResponsibillites)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobResponsibillites)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.WorkatOffice)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.WorkatOffice)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Workathome)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Workathome)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.InsideBangladesh)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.InsideBangladesh)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.OutsideBangladesh)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.OutsideBangladesh)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobLocation)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobLocation)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MinimumSalary)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MinimumSalary)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MaximumSalary)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MaximumSalary)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobDetail)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobDetail)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ApplicantList)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ApplicantList)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Applying)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Applying)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Nah)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Nah)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TA)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.TA)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MoblieBil)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MoblieBil)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PensionPlicy)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PensionPlicy)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TourAllowance)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.TourAllowance)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CreditCard)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CreditCard)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MedicalAllowance)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MedicalAllowance)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PerformanceBouns)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PerformanceBouns)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ProfitShare)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ProfitShare)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Providantfund)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Providantfund)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Wekekly2Holidays)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Wekekly2Holidays)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.InsuranceGratulty)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.InsuranceGratulty)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.OverTimeAllowoanec)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.OverTimeAllowoanec)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.LanchFacilitics)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.LanchFacilitics)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.SalaryReview)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.SalaryReview)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.FestivelBonus)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.FestivelBonus)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Others)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Others)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.AdditionalSalaryinfo)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.AdditionalSalaryinfo)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.EducationRequirment)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.EducationRequirment)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PreferredEducationInstitution)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PreferredEducationInstitution)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.AdditionalRequirements)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.AdditionalRequirements)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.TradeCourse)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.TradeCourse)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.ProfessionalCertification)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.ProfessionalCertification)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Experience)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Experience)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MinimumYearofExperience)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MinimumYearofExperience)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.MaximumYearofExperience)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.MaximumYearofExperience)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.FreshersApply)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.FreshersApply)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.AreaOfExperience)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.AreaOfExperience)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.AreaOfBusiness)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.AreaOfBusiness)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Skills)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Skills)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.AdditionalRequirements)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.AdditionalRequirements)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Gender)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Gender)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Mainage)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Mainage)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.Maxage)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.Maxage)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.personwithdisability)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.personwithdisability)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.PreferredRetiredArmy)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.PreferredRetiredArmy)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CompanyName)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CompanyName)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.JobAddress)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.JobAddress)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.IndustryTypeId)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.IndustryTypeId)
                                </dd>
                                <dt class="col-sm-4">
                                    @Html.DisplayNameFor(model => model.CompanyBusiness)
                                </dt>
                                <dd class="col-sm-8">
                                    @Html.DisplayFor(model => model.CompanyBusiness)
                                </dd>

                            </dl>

                        </div>
                        <div class="col-md-4">
                            <dl class="row">
                                <dt class="col-md-6">
                                    @Html.DisplayNameFor(model => model.CompanyLogo)
                                </dt>

                                <dd class="col-md-6">
                                    <img src="~/images/PostingJobs/@Html.DisplayFor(model => model.CompanyLogo)" alt="Image" width="200" class="img-thumbnail" />
                                </dd>
                            </dl>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-end">

                            <a class="btn btn-outline-danger btn-sm mr-2" asp-action="Index">
                                <i class="far fa-window-close"></i> Cancel
                            </a>
                            <a class="btn btn-outline-primary btn-sm me-3" asp-action="Edit" asp-route-id="@Model?.Id">
                                <i class="fa-regular fa-pen-to-square"></i> Edit
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>